@import "tailwindcss";
@tailwind components;
@tailwind base;
@tailwind utilities;


:root {
  --background: #ffffff;
  /* Light background */
  --foreground: #171717;
  /* Dark text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Remove or comment out dark mode override */
body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .btn {
    @apply bg-[#55844D] hover:bg-[#3d5e37] text-white text-base font-medium cursor-pointer rounded-full
  }

  .transparent-btn{
    @apply border border-[#55844D] hover:bg-[#55844D] bg-white text-[#55844D] hover:text-white text-base font-medium cursor-pointer rounded-full
  }

  .md {
    @apply py-2.5 px-2 lg:px-4 xl:px-6
  }

  .lg {
    @apply py-3.5 px-8 xl:px-10
  }

  .heading {
    @apply text-center text-[24px] md:text-[30px] lg:text-[36px] xl:text-[45px] text-[#33403D] leading-[28px] md:leading-[40px] lg:leading-[54px] font-extrabold -tracking-[0.04em]
  }

  .paragraph {
    @apply text-base md:text-lg text-[#6B7280] text-center font-medium tracking-[-0.02em] opacity-90 mb-8 max-w-[800px] mx-auto
  }
}

.teacher_box {
  box-shadow: 0px 2.65px 15.89px 0px rgba(0, 0, 0, 0.14);
}

.review .swiper-slide {
  height: auto;
}